<div *ngIf="auth.user | async as user">
  <app-navbar></app-navbar>


  <h1 class="text-center cw mt-5">
    Listado de Usuarios Registrados
  </h1>
  <hr>
  <div class="table-responsive">
    <table class="table table-borderless table-sm table-dark table-striped table-hover cw" id="table-ext-1">
      <thead>
        <tr>
          <th>
            <h4>UID</h4>
          </th>
          <th>
            <h4>FOTO</h4>
          </th>
          <th>
            <h4>NOMBRE Y APELLIDO</h4>
          </th>
          <th>
            <h4>EMAIL</h4>
          </th>
          <th>
            <h4>PERMISOS</h4>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users; let i=index">
          <td> {{ i+1 }}</td>
          <td>
            <div class="media">

              <img class="img-fluid circle im" src={{item.photoUrl}} alt="Image" />



            </div>
          </td>

          <td class="tp">
            <p>{{ item.displayName }}</p>
          </td>
          <td class="tp">
            <p>{{ item.email}}</p>
            
          </td>

          <td>
           

   
          <form [formGroup]="formClaim" (ngSubmit)="actualizar(item.uid,formClaim.value)"    class="form">
              <div class="form-check">
           
                <input formControlName="admin"  class="form-check-input" type="checkbox" [value]="item.customClaims.admin" id="check{{i}}">
                                                                    
                <label class="form-check-label" for="flexCheckDefault">

                  Administrador General 
                </label>
              </div>
              <div class="form-check">
                <input formControlName="nacional"  class="form-check-input" type="checkbox" [value]="item.customClaims.nacional" id="check{{i}}">
                <label class="form-check-label">
                  Coordinador Nacional
                </label>
              </div>
              <div class="form-check">
                <input formControlName="regional"  class="form-check-input" type="checkbox" [value]="item.customClaims.regional" id="check{{i}}">
                <label class="form-check-label">
                  Coordinador Regional
                </label>
              </div>
              <div class="form-check">
                <input formControlName="diocesano"  class="form-check-input" type="checkbox" [value]="item.customClaims.diocesano" id="check{{i}}">
                <label class="form-check-label">
                  Gestor Diocesano
                </label>
              </div>
              <div class="form-check">
                <input formControlName="voluntario"  class="form-check-input" type="checkbox" [value]="item.customClaims.voluntario" id="check{{i}}">
                <label class="form-check-label">
                  Voluntario
                </label>
              </div>
              <button mat-raised-button class="ba">  Actualizar   </button>
              &nbsp;
              
          </form>
          <button mat-raised-button color="warn" class="bu" (click)="eliminar(item.uid)" >    Eliminar </button>
          </td>


        </tr>


      </tbody>
    </table>
    <hr>
  </div>


</div>