<div *ngIf="auth.user | async; else showLogin">

    <app-navbar></app-navbar>
    
</div>

<ng-template #showLogin>


    <div class="contenedor">

        <div class="sub">
             <img src="../../../assets/logito.jpg" alt="" class="is mt-1">

         

            <button class="t butini mt-3" mat-raised-button (click)="loginWithGoogle()">
                <img src="../../../assets/google.png" alt="">
                Google

            </button>

        </div>



    </div>


</ng-template>