
html,body{
    height: 100%;
    background-color: rgb(28, 35, 65);
   
}

.c{
    color: rgb(0, 0, 0);
}
.cw{
    color: rgb(255, 255, 255);
}

.navbar{
    background-color: rgb(255, 255, 255);
    color: white;
    
}

.iconn{
    width: 100px;
    height: 100px;
  
}



.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(86, 117, 219);
}

hr{
    background-color: white;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    

}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 14, 78);
    border: solid 2px white;
    border-radius: 10px;
    width: 350px;
    height: 300px;
 
    
}

.buttt{
    margin-right: 15px;
}




.navbar-toggler{
    background-color: rgb(255, 255, 255);
}

.fuente{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: x-large;
    
    
}



.mat-raised-button{
    width: 150px;
    height: 60px;
}

.im{
    border-radius: 150px;
    width: 90px;
    height: 90px;
}

.imn{
    border-radius: 150px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.t{
    font-size:large;
    color: red;
}

.tt{
    font-size: x-large;
}


/**********/
  .butini{
    width: 150px;
    height: 45px;
  }
  
  .bu{
     
      width: 100px;
      height: 40px;
  }

.table-bordered{
    border: solid 5px rgb(255, 0, 0);
}



.is{
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.tp{
    font-size: x-large;
}

.ba{
    color: rgb(255, 255, 255);
    width: 100px;
      height: 40px;
    background-color: rgb(2, 93, 14);
}

.contlist{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 992px){
.navbar-expand-lg {
    justify-content: space-between;
    
}
}
